* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: black;
    background-color: whitesmoke;
    
  }
  
  .logo img {
    width: 70px;
    height: 70px;
    border-radius: 41px;
    outline: 4px solid ;
  }

  nav {
    display: flex;
    justify-content: space-between;
    
    padding: 1rem 3rem;
    align-items: center;
  }
  
  .items {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .items a:link {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .items a:hover {
    color: red;
  }
  
  .active {
    color: red !important;
  }

